
<h1>Create a new Student</h1>

<form action='/students' method="post"> 
Student First Name:<input type="text" name="students[first_name]" value="">
Student Last Name:<input type="text" name="students[last_name]" value="">
Student Email:<input type="text" name="students[email]" value="">
Student Username:<input type="text" name="students[username]" value="">
Student Password:<input type="text" name="students[password]" value="">
Student Age:<input type="integer" name="students[age]" value="">
SAT Score:<input type="integer" name="students[sat_score]" value="">
<input type="submit" name="" value="Create New Student">
</form>