<div class="container">
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Admissions Power! | Student Application Portal</h2>

    <div class="content">
      <p>Welcome to Admissions Power! We are glad that you are here. Admissions Power! is your one stop loctaion to apply to some of the most selective programs in the country. 
      To get started, simply create an account and then get started. </p>
      <p>This website is for authorized use only. Your IP address has been recorded</p>
    </div>

    <div class="sidebar">
       <h3> Log in or Sign Up!</h3>
      <form action="/login" method="post">
      <input type="text" name="email" value="email"></br>
      <input type="text" name="password" value="password"></br>
      <input type="submit" value="Log In"></br>
      <a href="/signup">Don't have an account? Signup here</a>
      </form>
    </div>

  </div>
</div>
